<div class="container">
  <div class="profile-header">
    <div class="profile-avatar">{{user.firstName.charAt(0).toUpperCase()}}{{user.lastName.charAt(0).toUpperCase()}} </div>
    <h1 class="profile-name">{{user.firstName}} {{user.lastName}}</h1>
    <p class="profile-email"> {{user.email}} </p>
  </div>

  <div class="profile-form">
    <h2 class="form-title">Personal Information</h2>

    <button (click)="toggleEditMode()" class="edit-mode-toggle">
      {{ editMode ? "Lock Profile" : "Edit Profile" }}
    </button>

    @if (updated) {
      <div class="success-message">
        <i class="bi bi-check-square-fill"></i> Profile updated successfully!
      </div>
    }

    <form (ngSubmit)="onSubmit()" [formGroup]="updateFrom">
      <div class="form-grid">
        <div class="form-group">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" id="firstName" class="form-input"  name="firstName" formControlName="firstName">
        </div>

        <div class="form-group">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" id="lastName" class="form-input" name="lastName" formControlName="lastName">
        </div>

        <div class="form-group full-width">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" id="email" class="form-input" name="email" formControlName="email">
        </div>

        <div class="form-group">
          <label for="phone" class="form-label">Phone Number</label>
          <input type="tel" id="phone" class="form-input" name="phone"  formControlName="phone">
        </div>

        <div class="form-group password-input">
          <label for="country" class="form-label">Country</label>
          <input type="text" id="country" class="form-input" name="country" formControlName="country">
        </div>
      </div>

      @if (editMode) {
        <div class="button-group">
          <button type="submit" class="btn btn-primary" (click)="updatedUser()"><i class="bi bi-bookmark-fill"></i> Save Changes</button>
          <button type="button" class="btn btn-outline" (click)="cancelEdit()"><i class="bi bi-x-square-fill"></i> Cancel</button>
        </div>
      }
    </form>
  </div>

  <div class="account-actions">
    <h2 class="actions-title">Account Settings</h2>

    <div class="action-item">
      <div class="action-description">
        <div class="action-title">Sign Out</div>
        <div class="action-subtitle">Log out from your account on this device</div>
      </div>
      <button class="btn btn-primary" (click)="logout()"><i class="bi bi-door-closed" style="color: aliceblue;"></i> Log Out</button>
    </div>
  </div>
</div>
